#header{
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: black;
  position: fixed;
  background-color: white;
  top: 0;
}

.logo{
display: flex;
align-items: center;
flex-grow: 1;
padding-left: 20px;
color: MediumAquaMarine;
}

a{
  color: black;
}

h2{
  font-size: 30px;
}

.logo img{
margin-right: 12px;
}

nav span{
  display: inline-block;
  padding-right: 30px;
  justify-content: space-between;
  text-decoration: underline;
}
#header nav{
  padding-right: 30px;
}

.container{
  display: flex;
  padding-top: 100px;
  padding-bottom: 30px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
  justify-content: space-around;
}

.main_image{
  background-image: url(../../resources/images/img-story-main.png);
  margin-top: 0;
  width: 630px;
  height: 300px;
  border: 1px solid black;
}

.main_image p{
  display: flex;
  font-family: Georgia;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: left;
  margin-top: 80px;
  padding-left: 40px;
}

.image_text{
  display: flex;
  font-family: Georgia;
  font-size: 30px;
  font-weight: bold;
  color: white;
  height: 300px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
  background-repeat: no-repeat;

}

.monument{
  display: flex;
}


.column.large {
  width: 630px;
  padding-right: 40px;
  padding-left: 20px;
}

.puget{
  flex-direction:column;
  height: 250px;
}

.earth{
  background-image: url(../../resources/images/img-story-spring.png);
    display: flex;
    align-items: center;
}

.burger{
  flex-direction:column;
  height: 250px;
}

.research{
  background-image: url(../../resources/images/img-story-camera.png);
  display: flex;
  align-items: center;
}

.fiddle{
  display: flex;
  justify-content: space-between;

}

.rows_1{
  width: 300px;
  display: flex;
  flex-direction: column;
}

.rows_2{
  width: 300px;
  display: flex;
  flex-direction: column;
}


.column.medium {
  width: 300px;
  padding-right: 40px;
}

.catsColumn{
  display: flex;
  flex-direction:column;
}

.fbi{
  display: flex;
  flex-direction:column;
}

.fbi h2{
  margin-top: 0;
  margin-bottom: 0;
}

.cats{
  background-image: url(../../resources/images/img-story-cat.png);
  display: flex;
  align-items: center;
}

.brooklyn{
  display: flex;
}

.column.small {
  justify-content: flex-end;
  width: 240px;
  padding-right: 20px;
}

.news_bites{
  flex-direction:column;
}

.news_bites span{
  display: block;
    padding: 11px 20px;
    border-bottom: 1px solid black;
    background-color: WhiteSmoke;
    font-family: Verdana;
    font-size: 12px;
    color: DimGray;
}

.news_bites h2{
  font-size: 16px;
  font-weight: bold;
}

.news{
  font-size: 16px;
font-weight: bold;
}

.image_cookie{
  display: flex;
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  width: : 100px;
  height: 325px;
  align-items: center;
}

#footer_title{
  display: flex;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.footer_info{
  display: flex;
}

.footer nav{
  padding-left: 40px;
}

#copyright{
  display: flex;
  justify-content: center;
  align-items: center;
}
