#header{
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: black;
  position: fixed;
  background-color: white;
}

.logo{
display: flex;
align-items: center;
flex-grow: 1;
padding: 20px 30px;
color: MediumAquaMarine;
}

.logo span{

}

nav span{
  display: inline-block;
  padding: 20px 20px;
}

.container{
  display: flex;
  align-items: center;
  padding-top: 100px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.main_image_text{
  background-image: url(../../resources/images/img-story-main.png);
  margin-top: 0;
    width: 630px;
    height: 300px;
    font-size: 40px;
    text-align: left;
    border: 1px solid black;

}

.monument{
  border: 1px solid black;
}

.column.large {
  width: 630px;
  padding-right: 40px;
  padding-left: 20px;
}

.puget{
  border: 1px solid black;
}

.earth{
  background-image: url(../../resources/images/img-story-spring.png);
  border: 1px solid black;
}

.burger{
  border: 1px solid black;
}

.research{
  border: 1px solid black;
}



.column.medium {
  width: 300px;
  padding-right: 40px;
}

.fbi{
  border: 1px solid black;
}

.cats{
  border: 1px solid black;
}

.brooklyn{
  border: 1px solid black;
}

.column.small {
  width: 240px;
  padding-right: 20px;
}

.news_bites{
  border: 1px solid black;
}

.image_cookie{
  border: 1px solid black;
}
